*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
.DS_Store
logfile
pickle-email-*.html
.env
config/site.yml
config/database.yml
config/locales/en.yml
config/bigdiva_access.xml 
RemoteSystemsTempFiles
log
.project
tmp
script
/.idea
