<div id='intro-dialog'>
   <div class="titlebar">
      <div class="button-group">
         <%= image_tag "close.png", :class=>"close" %>
      </div>
   </div>
   <div id="info">
     <%= image_tag 'intro/1_formulate.png', class: 'intro-step' %>
   </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var introDialog = new BigDIVA.IntroDialog();
    introDialog.render();  
  });
</script>