<div id='intro-dialog'>
   <div class="titlebar">
      <span>Welcome to BigDIVA!</span>
      <div class="button-group">
         <%= image_tag "close.png", :class=>"close" %>
      </div>
   </div>
   <div id="info">
     THIS IS THE INTRO DIALOG.
   </div>
</div>
