<div id="wait-container">
   <div id="wait">
      <p>Initializing Visualization</p>
      <%= image_tag("spinner.gif") %>
   </div>
</div>

<div id="working">
   <%= image_tag("loader.gif", :id=>"wait-spinner") %>
   <p id="wait-title" style="text-align: center;">
      Please Wait...
   </p>
</div>


<div id="menu">
   <div id="preload-01"></div>
   <div class="titlebar">
      <span>Node Menu</span>
      <div class="button-group">
         <%= image_tag "pin.png", :class=>"pin" %>
         <%= image_tag "close.png", :class=>"close" %>
      </div>
   </div>
   <div id="info">
      <table>
         <tr>
            <td class="label" id="title-label">Title:</td>
            <td class="title">Fake</td>
         </tr>
        <tr id="author" style="display:none;">
          <td class="label">Author:</td>
          <td id="author" class="size">-</td>
        </tr>
        <tr id="publisher" style="display:none;">
          <td class="label">Publisher:</td>
          <td id="publisher" class="size">-</td>
        </tr>
        <tr id="pubdates" style="display:none;">
          <td class="label">Published:</td>
          <td id="pubdates" class="size">-</td>
        </tr>
         <tr id="count">
            <td class="label">Count:</td>
            <td id="size" class="size">14209</td>
         </tr>
        <tr id="uri" style="display:none;">
          <td class="label">URI:</td>
          <td id="uri" class="size">lib://</td>
        </tr>
        <tr id="link" style="display:none;">
          <td class="label">Link:</td>
          <td id="link" class="title">http://</td>
        </tr>
        <tr id="isfreeculture" style="display:none;">
          <td class="label">Free Culture:</td>
          <td id="isfreeculture" class="size">No</td>
        </tr>
        <tr id="fulltext" style="display:none;">
          <td class="label">Full Text:</td>
          <td id="fulltext" class="size">No</td>
        </tr>
        <tr id="isocr" style="display:none;">
          <td class="label">OCR:</td>
          <td id="isocr" class="size">No</td>
        </tr>
      </table>
   </div>
  <div id="not-subscriber-msg"><span class="warning">Your library does not subscribe to this resource.</span></div>
   <ul>
      <li id="pin"><span class="padded">Pin</span></li>
      <li id="unpin"><span class="padded">Unpin</span></li>
      <li id="trace"><span class="padded">Trace Path</span></li>
      <li id="untrace"><span class="padded">Untrace Path</span></li>
      <hr class='facet-control-ui' id="facet-divider"/>
      <li class='facet-control-ui'><label><input id="archive" type="checkbox">Resource</label></li>
      <li class='facet-control-ui'><label><input id="genre" type="checkbox">Genre</label></li>
      <li class='facet-control-ui'><label><input id="discipline" type="checkbox">Discipline</label></li>
      <li class='facet-control-ui'><label><input id="doc_type" type="checkbox">Format</label></li>
      <li class='facet-control-ui'><label><input id="full-results" type="checkbox">Individual Results</label></li>
      <li class='facet-control-ui' id="next-results"><span class="padded">&nbsp;&nbsp;&gt;&gt; Next Results</span></li>
      <li class='facet-control-ui' id="prev-results"><span class="padded">&nbsp;&nbsp;&lt;&lt; Previous Results</span></li>
      <hr id="collapse-divider"/>
      <li id="collapse"><span class="padded">Collapse</span></li>
      <li id="expand"><span class="padded">Expand</span></li>
   </ul>
</div>