<div id="wait">
   <p>Initializing Visualization</p>
   <%= image_tag("spinner.gif") %>
</div>

<div id="menu">
   <div class="titlebar">
      <span>Node Menu</span>
      <%= image_tag "close.png" %>
   </div>
   <div id="info">
      <table>
         <tr>
            <td class="label" id="title-label">Title:</td>
            <td class="title">Fake</td>
         </tr>
         <tr>
            <td class="label">Size:</td>
            <td class="size">14209</td>
         </tr>
      </table>
   </div>
   <ul>
      <li id="unpin">Unpin</li>
      <li id="collapse">Collapse</li>
      <li id="expand">Expand</li>
      <li id="doc_type">Format</li>
      <li id="discipline">Discipline</li>
      <li id="genre">Genre</li>
   </ul>
</div>