<div id="wait-container">
   <div id="wait">
      <p>Initializing Visualization</p>
      <%= image_tag("spinner.gif") %>
   </div>
</div>

<div id="working">
   <%= image_tag("loader.gif", :id=>"wait-spinner") %>
   <p id="wait-title" style="text-align: center;">
      Please Wait...
   </p>
</div>


<div id="menu">
   <div class="titlebar">
      <span>Node Menu</span>
      <div class="button-group">
         <%= image_tag "pin.png", :class=>"pin" %>
         <%= image_tag "close.png", :class=>"close" %>
      </div>
   </div>
   <div id="info">
      <table>
         <tr>
            <td class="label" id="title-label">Title:</td>
            <td class="title">Fake</td>
         </tr>
         <tr>
            <td class="label">Count:</td>
            <td class="size">14209</td>
         </tr>
      </table>
   </div>
   <ul>
      <li id="pin"><span class="padded">Pin</span></li>
      <li id="unpin"><span class="padded">Unpin</span></li>
      <li id="collapse"><span class="padded">Collapse</span></li>
      <li id="expand"><span class="padded">Expand</span></li>
      <hr/>
      <li id="resource"><input type="checkbox"><span>Resource</span></li>
      <li id="genre"><input type="checkbox"><span>Genre</span></li>
      <li id="discipline"><input type="checkbox"><span>Discipline</span></li>
      <li id="doc_type"><input type="checkbox"><span>Format</span></li>
   </ul>
</div>