// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wait {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 25px;
  width: 170px;
  text-align: center;
  margin: 4% auto;
  box-shadow: 3px 3px 10px #888;

  p {
    margin: 0 0 15px 0;
    color: #666;
    font-weight: bold;
    font-size: 1.1em;
  }
}

.node {
   cursor: pointer;
   stroke: #666;
   stroke-width: 1.5px;
}

.leaf {
  fill: #62b1f9;
}

.leaf.no-data {
  fill: rgba(100,100,175,0.7);
}

.parent {
  fill: #dedede;
}

.root {
  stroke: chocolate;
  stroke-width: 2px;
  fill: bisque;
}

.fixed {
  cursor: pointer;
  stroke: #a30;
  stroke-width: 4px;
  stroke-dasharray: 7;
  stroke-linecap: square;
}

.parent.collapsed {
  fill: #00a;
}

.link {
   fill: none;
   stroke: #666;
   stroke-width: 1px;
}

#info {
  background-color: #f5f5e5;
  padding: 5px;
  border: 1px solid #773;
  width: 200px;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #888;
  position: absolute;
  display: none;
  cursor: default;
  pointer-events:none;
  table {
    border-collapse: collapse;
  }
  td.title, td.size {
    line-height: 1.15em;
    padding-left: 10px;
  }
}

#menu {
  color: black;
  background-color: #f5f5f5;
  border: 1px solid #888;
  width: 100px;
  padding: 0px;
  border-radius: 0 0 4px 4px;
  font-size: 0.9em;
  font-weight: 100;
  box-shadow: 2px 2px 10px #999;
  position: absolute;
  display: none;
  cursor: default;

  p {
    margin: 0px;
    border-bottom: 1px solid #999;
    font-size: 0.9em;
    text-align: center;
    background-color: #dedede;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 8px 10px;
    font-size: 0.8em;
  }
  li {
    &:hover {
      background-color: #ddf;
      cursor:pointer;
    }
  }
  
  li.active {
    cursor: default;
    background-color: #55a;
    color: white;
    padding: 1px 4px 2px 4px;
  }
}