// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wait {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 25px;
  width: 170px;
  text-align: center;
  margin: 4% auto;
  box-shadow: 3px 3px 10px #888;

  p {
    margin: 0 0 15px 0;
    color: #666;
    font-weight: bold;
    font-size: 1.1em;
  }
}

.node {
   cursor: pointer;
   stroke: #000;
   stroke-width: 1.5px;
}

.leaf {
  fill: #62b1f9;
}

.leaf.no-data {
  fill: rgba(100,100,175,0.7);
}

.parent {
  fill: #dedede;
}

.root {
  stroke: chocolate;
  stroke-width: 2px;
  fill: bisque;
}

.fixed {
  cursor: pointer;
  stroke: #a30;
  stroke-width: 4px;
  stroke-dasharray: 7;
  stroke-linecap: square;
}

.menu {
  cursor: pointer;
  stroke: #a0a;
  stroke-width: 4px;
  fill: #ece;
}

.parent.collapsed {
  fill: #00a;
}

.link {
   fill: none;
   stroke: #666;
   stroke-width: 1px;
}

#menu {
  color: black;
  background-color: #f5f5f5;
  border: 1px solid #888;
  width: 225px;
  padding: 0px;
  border-radius: 2px 2px 5px 5px;
  font-size: 0.9em;
  font-weight: 100;
  box-shadow: 0px 0px 15px #444;
  position: absolute;
  display: none;
  cursor: default;

  .titlebar {
    padding: 1px 1px 3px 5px;
    border-bottom: 1px solid #777;
    background-color: #ddd;
    img {
      float: right;
      cursor: pointer;
      margin: 1px;
      &:hover {
        box-shadow: 0px 0px 5px 2px #8cf;
      }
    }
  }

  #info {
    margin: 8px 10px;
    font-size: 0.8em;
    border-bottom: 1px solid #777;
    padding-bottom: 8px;

    table {
      border-collapse: collapse;
    }
    td.title, td.size {
      line-height: 1.15em;
      padding-left: 10px;
    }
  }

  p {
    margin: 0px;
    border-bottom: 1px solid #999;
    font-size: 0.9em;
    text-align: center;
    background-color: #dedede;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 8px 10px;
    font-size: 0.8em;
  }
  li {
    &:hover {
      background-color: #ddf;
      cursor:pointer;
    }
  }

  li.active {
    background-color: #55a;
    color: white;
    padding: 1px 4px 2px 4px;
  }
}

div.search {
  float: right;
  input[type=text] {
    width: 250px;
  }
  input[type=button] {
    position: relative;
    top: -1px;
  }
}

#dim-overlay {
   z-index: 1000;
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(128, 128, 128, 0.5);
   top: 0%;
   left: 0%;
}


#working {
   display: none;
   text-align: center;
   width: 200px;
   height: auto;
   background-color: white;
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -100px;
   z-index: 1001;
   box-shadow: 0 0 40px 10px #666;
   -webkit-box-shadow: 0 0 40px 10px #666;
   -moz-box-shadow: 0 0 40px 10px #666;
   border: 3px solid #555;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius:  10px;
   font-size: 0.85em;
   font-weight: 200;
   #wait-spinner {
      margin-top: 15px;
   }
}
