#intro-dialog {
  color: black;
  background-color: white;
  border: 1px solid black;
//  width: 225px;
  padding: 0px;
  border-radius: 2px 2px 5px 5px;
  font-size: 0.9em;
  font-weight: 100;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  cursor: default;
  word-break: break-all;
  word-wrap: break-word;
  z-index: 1000;
  
  .titlebar {
    .button-group {
      float:right;

      img {
        cursor: pointer;
        margin: 1px;
        &:hover {
          box-shadow: 0px 0px 5px 2px #8cf;
        }
      }

    }
  }

  #info {
    margin: 30px 10px;
    padding-bottom: 8px;
  }

}