<div id="key">
   <span class="key">Visualize By:</span>
   <input id="resource-block" type="button" value="Resource" selected/><span class="block resource"></span>
   <input id="genre-block" type="button" value="Genre"/><span class="block genre"></span>
   <input id="discipline-block" type="button" value="Discipline"><span class="block discipline"></span>
   <input id="format-block" type="button" value="Format"><span class="block format"></span>
</div>
