<div class="search">
   <div>
      <label for="query">Search:</label><input id="query" type="text" placeholder="Search Terms"/>
   </div>

   <div>
      <input id="reset" type="button" value="Reset"/>
      <input id="recenter" type="button" value="Recenter"/>
      <input id="filter" type="button" value="Filter"/>
      <a id="help" target="_blank" href="http://idhmcmain.tamu.edu/image-store/bgpages/bigdiva-help.html">Help</a>
      <a id="guide" target="_blank" href="/resources/">Resource Guide</a>
   </div>
</div>