<div id="sidebar">
   <div class="top">
      <p class="title"></p>
      
      <div id="list-page-ctls">
         <div class="totals">
            <label>Total: <span class="total"></span></label>
         </div>
      </div>
   </div>
   
   <div id="content">
   </div>
</div>