<div id="sidebar">
   <div class="top">
      <p class="title"></p>
      
      <div id="list-page-ctls">
         <div class="counts">
            <div class="total-div">
               <label>Total: <span class="total"></span></label>
            </div>
            <div class="pages-div">
               <label>Page: <span class="page-count"></span></label>
            </div>
            <div style="clear:both;"></div>
         </div>
         <div class="paging">
            <div class="page-nav prev">&lt;&lt;</div>
            <div class="page-nav next">&gt;&gt;</div>
            <div style="clear:both;"></div>
         </div>
      </div>
   </div>
   
   <div id="content">
   </div>
</div>