<div id="sidebar" class="init">
   <div id="toggle-sidebar" class="open"></div>
   <div class="top">
      <p class="title">Individual Results</p>
      
      <div id="list-page-ctls">
         <div class="counts">
            <div class="total-div">
               <label>Total: <span class="total">0</span></label>
            </div>
            <div class="pages-div">
               <label>Page: <span class="page-count">0 of 0</span></label>
            </div>
            <div style="clear:both;"></div>
         </div>
         <div class="paging">
            <div class="page-nav prev">&lt;&lt;</div>
            <div class="page-nav next">&gt;&gt;</div>
            <div style="clear:both;"></div>
         </div>
      </div>
   </div>
   
   <div id="content">
   </div>
</div>