<!DOCTYPE html>
<html>
<head>
  <title>ARC Catalog Visualization</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="site-header">
   <div id="left-header">
      <p>ARC Catalog Visualization</p>
      <div id="key">
         <span class="key">Key:</span>
         <label>Resource</label><span class="block resource"></span>
         <label>Genre</label><span class="block genre"></span>
         <label>Discipline</label><span class="block discipline"/></span>
         <label>Format</label><span class="block format"/></span>
      </div>
   </div>
   <div class="search">
      <div>
         <label for="query">Search:</label><input id="query" type="text" placeholder="Search Terms"/>
      </div>
      <div>
         <label for="from">From Year:</label><input id="from" class="date-field" type="text" placeholder="YYYY"/>
         <label for="to">To Year:</label><input id="to" class="date-field" type="text" placeholder="YYYY"/>
      </div>
      <div>
         <input id="reset" type="button" value="Reset"/>
         <input id="recenter" type="button" value="Recenter"/>
         <input id="filter" type="button" value="Filter"/>

      </div>
   </div>
   <div style="clear: both"></div>
</div>

<div id="main-content">
   <%= yield %>
</div>
<div id="dim-overlay"></div>

</body>
</html>
